<div>
  <%@post.comments.each do |comment|%>
    <%= comment.message%>
    <%=comment.post_id%>
    <%=comment.id%>


    <%= link_to 'Destroy', post_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %>
    <br/>
  <%end%>
</div>